@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

/* top bar */
.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #020912;
  letter-spacing: 1.5px;
  color: #fcfcfc;
  font-size: 16.25px;
  font-weight: 600;
  text-align: center;
  padding: 13px 0;
  z-index: 999;
}

/* navbar */

.nav {
  position: sticky;
  margin-top: 0;
  z-index: 900;
  left: 0;
  width: 100%;
  padding: 15px 200px;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between
}
a {
  color: #020912;
  text-decoration: none;
}
.nav .logo {
  font-size: 30px;
  font-weight: 500;
  color: #020912;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #020912;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #020912;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: 1.5px solid #020912;
  outline: none;
  padding: 0 15px 0 45px;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  
  .top-bar{
    padding: 10px 10px;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
    color: #020912;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #fcfcfc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 800;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #020912;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #020912;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn{
    padding-top: 50px;
}
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.collection{
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 0px 50px;
  flex-direction: column;
  margin-bottom: 45px;
}

.collection h2{
  font-size: 50px;
  color: #020912;
  letter-spacing: 0.75px;
  text-align: start;
  font-weight: 500;
  margin-top: 50px;
}

.image-collection{
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0px 30px;
  width: 100%;
}

.image-collection img{
  object-fit: cover;
  padding: 10px;
  width: 300px;
  height: 300px;
  z-index: 1;
}

.image-caption{
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.image-caption:hover{
  transform: scale(1.01);
}

.image-caption h3{
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #020912;
  text-align: center;
}

@media screen and (max-width: 768px) {
  
  .collection{
    padding: 5px;
  }
  .collection h2{
    margin-top: 5px;
    font-size: 35px;
    text-align: center;
  }
  .image-collection{
    flex-direction: column;
  }
  .image-collection img{
    transform: scale(0.9);
    padding: 0;
  }

  .image-collection h3{
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

/* <!-- PART 2 --> */

.container-header{
  width: 100%;
  background-color: #fcfcfc;
  padding: 0 40px;
}
.container-header h1{
  font-size: 50px;
  color: #020912;
  letter-spacing: 0.75px;
  text-align: start;
  font-weight: 500;
  padding: 0px 18px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-section .card{
  flex: 1;
  margin: 20px 20px;
  cursor: pointer;
}

.content-section .card:hover h3{
  font-weight: 600;
}

.content-section .card:hover img{
  transform: scale(1.01);
}

.content-section .card img{
  width: 100%;
  height:auto;
  transition: 0.5s ease-in-out;
}

.content-section .card h3{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #020912;
}

.content-section .card h4{
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  font-weight: 500;
  color: #222323;
  letter-spacing: 0.75px;
}

.data2{
  display: flex;
  justify-content: center;
  align-content: center;
}

.view-all{
  font-size: 18px;
  background: #020912;
  color: #fff;
  text-decoration: none;
  border: none;
  margin-top: 5px;
  padding: 13px 30px;
  transition: 0.5s;
}
.view-all:hover{
  transform: scale(1.01);
}

@media screen and (max-width: 768px){
  .container-header{
    width: 100%;
    background-color: #fcfcfc;
    padding: 20px 10px;

  }
  .content-section{
    flex-direction: column;
  }
  .container-header h1{
    font-size: 38px;
    text-align: center;
  }
}

/* FOOTER */

footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #020912;
  width: 100%;
  padding:32px 0px;
  color: #fcfcfc;
}

.quick-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 53px;
}

.info,
.support {
  flex-basis: 50%;
}

.info h2,
.support h2 {
  font-size: 22.5px;
  margin-bottom: 20px;
  letter-spacing: 0.75px;
  font-weight: 400;
  line-height: 28px;
  color: #fcfcfc;
}

.quick-links span {
  display: block;
  font-size: 16.8px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.63px;
  padding: 4px 0px;
  color: #d2cdcd;
  cursor: pointer;
}

.quick-links .info span a{
  display: block;
  font-size: 16.8px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.63px;
  padding: 4px 0px;
  color: #d2cdcd;
  cursor: pointer;
  text-decoration: none;
}

.support span a{
  display: block;
  font-size: 16.8px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.63px;
  padding: 4px 0px;
  color: #d2cdcd;
  cursor: pointer;
  text-decoration: none;
}

.quick-links span:hover{
  color: #fcfcfc;
  text-decoration: underline;
}

.newsletter-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 53px;
}

.sub{
  margin-bottom: 25px;
}
.sub h2 {
  font-size: 22.5px;
  margin-bottom: 20px;
  letter-spacing: 0.75px;
  font-weight: 500;
  line-height: 28px;
  color: #fcfcfc;
}

.sub input {
  padding: 0px 15px;
  width: 95%;
  height: 55px;
  background-color: #020912;
  border: 2px solid #fcfcfc;
  letter-spacing: 0.42px;
  align-self: center;
  line-height: 24.8px;
  text-decoration: none;
  color: #fcfcfc;
}

.social-media span i{
  font-size: 14.7px;
  transform: scale(1.2);
  height: 46px;
  width: 46px;
  line-height: 25.9px;
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature{
  padding: 10px 33px;
}
.divider {
  border-top: 0.5px solid rgba(252, 252, 252, 0.208);
  margin-bottom: 20px;
}

.signature h2 {
  font-size: 12.6px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .quick-links{
    padding: 10px;
    flex-direction: column;
    margin-left: 10px;
  }

  .quick-links .info{
    margin-bottom: 20px;
  }

  .newsletter-icons{
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 0px;
  }

  .social-media span i{
    display: inline-block;
    padding-left: 4px;
  }
}